<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/sparkles.png" type="image/icon">
    <title>Cadastro</title>
    <link rel="stylesheet" href='../static/css/cadastro.css' />
    <link href="https://fonts.googleapis.com/css2?family=Mirza&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Mirza&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  
{% block principal %}     

<style>
  .formulario-cadastro{
    padding: 5%;
    margin-top: 25%;
    margin-bottom: 20%;
}

</style>

  <div class="container-fluid">

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          GLITZY</a>
      </li>
    </ul>
    
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
       <div class="bloco">
        <form method="post" class="formulario-login">
          {% csrf_token %}
      
          <div class="form-group">
              {{form_usuario.username.errors}}
              <label>Username: </label>
              <br>
              {{form_usuario.username}}
          </div>
      
          <div class="form-group">
              {{form_usuario.password1.errors}}
              <label>Senha: </label>
              <br>
              {{form_usuario.password1}}
          </div>
      
          <div class="form-group">
              {{form_usuario.password2.errors}}
              <label>Confirmação de senha: </label>
              <br>
              {{form_usuario.password2}}
          </div>
      
          <div class="form-group">
              <br>
              <input type="submit" value="Cadastrar" class="btn btn-primary">
          </div>
      </form>

      <p class="rota-login">Já possui uma conta? <a href="{% url 'logar_usuario' %}"> Clique aqui para acessar!</a></p>

    </div>
      </div>

      

      <div class="col-md-4"></div>

    </div>

  
  </div>
</div>   
{% endblock %}
</body>
</html>

