.nav{
    background-color: rgb(46, 43, 43); 
    position: fixed;
    width: 100%;

}

.nav-link{
    color: rgb(255, 255, 255) !important;
    font-family: "Alice";
    font-weight: bolder  !important;
    font-size: medium;
}

.nav-link:hover{
    color: rgb(255, 255, 198, 0.6);
}

body{
    background-image: url("../images/home-background-4.png");
}

.bloco{
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 15%;
    padding: 5% 10% 10% 10%;

}

.form-group{
    padding: 2%;
    margin-left: 19%;
}

.btn{
    background-color: #444242 !important;
    margin-left: 18%;
}

.rota-login{
    font-size: small;
    text-align: center;
    margin-top: 3%;
}
