.navbar{
    background-color: rgb(46, 43, 43); 
    /*position: fixed;*/
    width: 100%;
}

.navbar-brand{
    font-family: "Alice";
    font-weight: bold;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover{
    color: rgb(255, 255, 198, 0.6);
}

.icone{
    width: 22.7px;
    height: 22.7px;
    padding-bottom: 5%;
    margin-left: 15%;
}

.nav-link{
    font-size:large;
    color: rgb(255, 255, 255);
    padding-bottom: 15%;
    padding-left: 30%;
}

.nav-link:hover{
    color: rgb(255, 255, 198, 0.6);
}

.btn{
    background-color: #444242;
    color: rgb(228, 227, 220);
}


body{
    background-image: url("../images/home-background-4.png");
    background-size: cover;
}

.bloco{
    background-color: rgb(255, 255, 255, 0.6);
    margin-top: 10%;
    padding: 5% 10% 10% 10%;
}

form{
    padding-left: 10%;
}

/* Estilo para o título da notícia */
.titulo_noticia {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Estilo para o campo de entrada do título */
input#id_titulo {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para o rótulo das categorias */
label[for="id_categorias"] {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

/* Estilo para o campo de seleção de categorias */
select#id_categorias {
    width: 17%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para o campo de conteúdo usando CKEditorWidget */
textarea#id_conteudo {
    width: 650px;
    height: 650px; /* Ajuste conforme necessário */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none !important;
}

/* Estilo para o campo de upload de imagem */
input[type="file"] {
    margin-bottom: 10px;
}

/* Estilo para o botão de envio */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

