.navbar{
    background-color: rgb(46, 43, 43); 
    position: fixed;
    width: 100%;
    
}

.navbar-brand{
    font-family: "Alice";
    font-weight: bold;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover{
    color: rgb(255, 255, 198, 0.6);
}

.icone{
    width: 22.7px;
    height: 22.7px;
    padding-bottom: 5%;
    margin-left: 15%;
}

.nav-link{
    font-size:large;
    color: rgb(255, 255, 255);
    padding-bottom: 15%;
    padding-left: 30%;
}

.nav-link:hover{
    color: rgb(255, 255, 198, 0.6);
}

.btn{
    background-color: #444242;
    color: rgb(228, 227, 220);
}

body{
    background-image: url("../images/home-background-4.png");
    background-size: cover;
}

.bloco{
    background-color: rgb(255, 255, 255, 0.6);
    margin-top: 10%;
    padding: 5% 10% 10% 10%;
}

.card{
    background-color: rgb(255, 255, 255, 0.5);
    height: 370px;
    padding: 0%;
}

.card-title a{
    color: black;
    text-decoration: none;
}

.card-title a:hover{
    color: rgb(255, 255, 198, 0.6)
}

.card-img-top{
    width: 100%;
    max-height: 350px;
    height:350px;
    object-fit: cover; 
}

.sem_resultado{
    text-align: center;
}